/*стили поста в разделе блог*/
.post{
  font-family: 'RobotoRegular', 'Arial', sans-serif;
  color: #000000;
  line-height: 1.1;
  margin-top: 15px;
  margin-bottom: 15px
}
.post img{
	width: 100%;
	max-width: 1000px;
	height: auto;
	border-radius: 8px 8px 0px 0px;
}
.post a{
  text-decoration: none;
  color: #000000;
}
.post a:hover{color: #34495E;}
.post h1{padding-left: 20px;}
.post h2{padding-left: 20px;}
.post h3{padding-left: 20px;}
.post p{padding-left: 20px;}
.post h2{
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 9px;
  line-height: 1;
}
.post p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding-bottom: 10px;
}
.post-title{
	margin-top:-10px; 
	min-height:70px;
	border-left: 2px solid #E8E8E8;
	border-right: 2px solid #E8E8E8;
	border-bottom: 2px solid #D2D2D2;
	border-radius: 0 0 8px 8px;
  background: #ffffff;
}
@media (max-width: 480px){
.post h2{
  padding-top: 20px;
  padding-bottom: 10px;
}
}
@media (min-width: 1000px){
.post{
	max-width: 500px;
	width: 49.3%;
	overflow: hidden;
	float: left;
	margin-right: 0.6%;
	margin-left: 0.6%:
}
.post img{
	max-width: 500px;
	height: auto;
}
}
/*pagination навигацыя по страницам 1 2 3*/
.pagination-conteiner{
  font-family: 'RobotoRegular';
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-size: 19px;
}
.pagination{padding: 20px 0;}
.pagination ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.pagination a{
	display: inline-block;
  padding: 9px 15px;
  color: #000000;
  text-decoration: none;
}
.pagination a:hover{
  background: rgba(224,224,224, .7);
  color:#000000;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.pagination a:first-of-type, .pagination a:last-of-type, .pagination .pagination-active{
  background-color: #415C77;
  color: #fff;
}

.pagination a:hover:first-of-type, .pagination a:hover:last-of-type{
  background: rgba(224,224,224, .9);
  color:#000000;
  -webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

@media (max-width: 480px){
	.pagination-conteiner{
	  font-size: 19px;
	}
}
@media (min-width: 1000px){
.pagination-conteiner{
	margin-top: 600px
}
}