 @font-face{
    font-family: 'Raleway-Light';
    font-weight: normal;
    font-style: normal;
    src: url('https://stasproychev.github.io/html/fonts/Raleway-Light/Raleway-Light.eot');
    src: url('https://stasproychev.github.io/html/fonts/Raleway-Light/Raleway-Light.eot?#iefix')format('embedded-opentype'),
    url('https://stasproychev.github.io/html/fonts/Raleway-Light/Raleway-Light.woff') format('woff'),
    url('https://stasproychev.github.io/html/fonts/Raleway-Light/Raleway-Light.ttf') format('truetype');
}

 @font-face{
    font-family: 'Raleway-Medium';
    font-weight: normal;
    font-style: normal;
    src: url('https://stasproychev.github.io/html/fonts/Raleway-Medium/Raleway-Medium.eot');
    src: url('https://stasproychev.github.io/html/fonts/Raleway-Medium/Raleway-Medium.eot?#iefix')format('embedded-opentype'),
    url('https://stasproychev.github.io/html/fonts/Raleway-Medium/Raleway-Medium.woff') format('woff'),
    url('https://stasproychev.github.io/html/fonts/Raleway-Medium/Raleway-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'OpenSansRegular';
    font-weight: 300;
    font-style: normal;
    src: url('https://stasproychev.github.io/html/fonts/OpenSansRegular/OpenSansRegular.eot');
    src: url('https://stasproychev.github.io/html/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix')format('embedded-opentype'),
    url('https://stasproychev.github.io/html/fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'),
    url('https://stasproychev.github.io/html/fonts/OpenSansRegularr/OpenSansRegular.ttf') format('truetype');
}

@font-face{
    font-family: 'OpenSansBold';
    font-weight: normal;
    font-style: normal;
    src: url('https://stasproychev.github.io/html/fonts/OpenSansBold/OpenSansBold.eot');
    src: url('https://stasproychev.github.io/html/fonts/OpenSansBold/OpenSansBold.eot?#iefix')format('embedded-opentype'),
    url('https://stasproychev.github.io/html/fonts/OpenSansBold/OpenSansBold.woff') format('woff'),
    url('https://stasproychev.github.io/html/fonts/OpenSansBold/OpenSansBold.ttf') format('truetype');
}